* {
  text-align: center;
}


.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: darkblue;

}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}


.blue{
  color: darkblue;
}